@import 'tailwindcss';

:root {
  --background: #000;
  --navlinks_bg: #FFFFFF3D;
  --navbar_bg: transparent;
}

@theme inline {
  --color-background: var(--background);
  --color-navlinks-bg: var(--navlinks_bg);
  --color-navbar-bg: var(--navbar_bg);
  --color-decane-yellow: #ffd700;

  --font-viga: var(--font-viga);
  --font-russo-one: var(--font-russo-one);
  --font-rouge-script: var(--font-rouge-script);
  --font-urbanist: var(--font-urbanist);
  --font-tajawal: var(--font-tajawal);
  --font-tac-one: var(--font-tac-one);
  --font-figtree: var(--font-figtree);
  --font-plusJakartaSans: var(--font-plus-jakarta-sans);
}

body {
  background: var(--color-background);
  color: black;
}

.wrapper {
  @apply max-w-[1440px] w-[90%] mx-auto;
}
